.container {
  max-width: 900px;
  width: 100%;
  background: #202128;
  margin: 0 auto;
  padding: 0 16px;
}
.container {
  max-width: 900px;
  width: 100%;
  background: #202128;
  margin: 0 auto;
  padding: 0 16px;
}
